html
	head
		title= "Configure Your Pi-Order"
		link(rel='stylesheet', href='/styles/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		style.
			body {
				margin: 20px;
			}
		h1
			HI WELCOME TO PI-ORDER :-)
		form(method='POST' action='/pi-order/submit')
			table
				style.
					td {
						padding: 5px;
					}
				tr
					td
						div.form-group
							label(for='amazon-username') Username:
							= ' '
							input#username.form-control(type='text', value=username, name='amazon-username')
					td
						div.form-group
							label(for='amazon-password') Password:
							= ' '
							input#password.form-control(type='text', value=password, name='amazon-password')
				tr
					td
						div.form-group
							label(for='wifi-network') Wifi Network:
							= ' '
							input#wifinetwork.form-control(type='text', value=wifinetwork, name='wifi-network')
					td
						div.form-group
							label(for='wifi-password') Wifi Password:
							= ' '
							input#wifipassword.form-control(type='text', value=wifipassword, name='wifi-password')
				tr
					td
						div.form-group
							label(for='name1') Product 1 Name:
							= ' '
							input#name1.form-control(type='text', value=name1, name='name1')
					td
						div.form-group
							label(for='url1') Product 1 URL:
							= ' '
							input#url1.form-control(type='text', value=url1, name='url1')
				tr
					td
						div.form-group
							label(for='name2') Product 2 Name:
							= ' '
							input#name2.form-control(type='text', value=name2, name='name2')
					td
						div.form-group
							label(for='url2') Product 2 URL:
							= ' '
							input#url2.form-control(type='text', value=url2, name='url2')
				tr
					td
						div.form-group
							label(for='name3') Product 3 Name:
							= ' '
							input#name3.form-control(type='text', value=name3, name='name3')
					td
						div.form-group
							label(for='url3') Product 3 URL:
							= ' '
							input#url3.form-control(type='text', value=url3, name='url3')
				tr
					td
						div.form-group
							label(for='name4') Product 4 Name:
							= ' '
							input#name4.form-control(type='text', value=name4, name='name4')
					td
						div.form-group
							label(for='url4') Product 4 URL:
							= ' '
							input#url4.form-control(type='text', value=url4, name='url4')
				tr
					td
						button.btn.btn-primary(type='submit') Submit
			p &nbsp
			p
				| Pi-Order was designed and developed by
				= ' '
				a(href="https://jperk51.github.io/resume/") Jayson Perkins
				|,
				= ' '
				a(href="http://www.joedye.me/") Joey Dye
				|,
				= ' '
				a(href="https://github.com/cferris32") Corey Ferris
				|.
				= ' '
				a(href="https://github.com/dyej/pi-order") Pi-Order Github Repo
