html
	style.
		html, body {
			height: 100%;
		}

		html{
			display: table;
			margin: auto;
		}

		body {
			margin: 20px;
			display: table-cell;
			vertrical-align:middle;
		}


		h1 {
			padding: 5px;
		}

		.block-container {
			text-align: left;
		}

		.block1, .block2, .block3 {
			display: inline;
		}

		.headnfoot-container {
			background-color: #474747;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 5px;
			color: #F5F5F5;
		}

		.footer-content-container {
			color: #F5F5F5;
			padding: 3px;
		}

		.footer-content-container a:hover {
			color: #E1E1E1;
		}

		.return-group a:visited {
			color: #FFFFFF;
		}

		a:link {
			color: #00C5FF;
		}

		a:visited {
			color: #A95DFF;
		}

	head
		title= "Results of Your Pi-Order"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		div.headnfoot-container
			h1 #{username}'s Product Results
		table(class='table table-bordered')
			tr
				td 
					div.block1
						span(style='color:green') Green 
				td #{name1} 
				td #{url1}
			tr
				td 
					div.block-container
						div.block1
							span(style='color:green') Green-
						div.block2
							span(style='color:#C9C900') Yellow 
				td #{name2} 
				td #{url2}
			tr
				td 
					div.block-container
						div.block1
							span(style='color:green') Green-
						div.block2
							span(style='color:red') Red 
				td #{name3} 
				td #{url3}
			tr
				td 
					div.block-container
						div.block1
							span(style='color:green') Green-
						div.block2
							span(style='color:#C9C900') Yellow
						div.block3
							span(style='color:red') -Red
				td #{name4} 
				td #{url4}
		div.return-group
			a(type='button' class='btn btn-primary' href='/pi-order') Return
		p &nbsp
		div.headnfoot-container
				div.footer-content-container
					p
						| Pi-Order was designed and developed by
						= ' '
						a(href="https://jperk51.github.io/resume/") Jayson Perkins
						|,
						= ' '
						a(href="http://www.joedye.me/") Joey Dye
						|,
						= ' '
						a(href="https://github.com/cferris32") Corey Ferris
						|.
					p
						span(style='font-weight:bold') More Info:
						= ' '
						a(href="https://github.com/dyej/pi-order") Pi-Order Github Repo
