html
	head
		title= "Results of Your Pi-Order"
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		style.
			body {
				margin: 20px;
			}
		h2 #{username}'s Product Results
		table
			style.
				table, th, td {
					border: 5px solid black;
					padding: 5px;
				}
			tr
				td Green 
				td #{name1} 
				td #{url1}
			tr
				td Green-Yellow 
				td #{name2} 
				td #{url2}
			tr
				td Green-Red 
				td #{name3} 
				td #{url3}
			tr
				td Green-Yellow-Red 
				td #{name4} 
				td #{url4}
		p &nbsp
		p
			| Pi-Order was designed and developed by
			= ' '
			a(href="https://jperk51.github.io/resume/") Jayson Perkins
			|,
			= ' '
			a(href="http://www.joedye.me/") Joey Dye
			|,
			= ' '
			a(href="https://github.com/cferris32") Corey Ferris
			|.
			= ' '
			a(href="https://github.com/dyej/pi-order") Pi-Order Github Repo
